:root{
    --bg-color:rgb(196, 196, 197);
    --second-bg-color: rgb(57, 97, 97);
    --text-color:white;
    --second-text-color:red;
}
@media(prefers-color-scheme:dark){
    :root{
        --bg-color:rgb(90, 90, 90);
        --second-bg-color: rgb(117, 197, 197);
        --text-color:rgb(5, 5, 5);
        --second-text-color:rgb(105, 4, 4);
    } 
}


body {
    background: lavender;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
    background: var(--second-text-color);
    border: solid brown 5px;
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}
.block {
    background: lightblue;
    border: var(--text-color) solid 10px;
    height: 200px;
    width: 200px;
}
.block3 {
    flex-shrink: 0;
    flex-grow: 3; 
}
.block4 {
    flex-shrink: 4;
}
.block1 {
    flex-grow: 1;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    min-height: 100%;
    color: var(--text-color);
}
.wrapper {
    display: flex;
    flex-direction:column ;
    min-height: 100%;
    max-width: 1360px;
    margin: 0 auto;
    background: var(--bg-color);
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
header{
    min-height: 120px;
    background: darkcyan;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px ;
    padding-right: 20px;
}
.main-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;

}
.main-menu a {
    color: var(--text-color);

}
.main-menu li {
    flex-shrink: 0;
}
h1 {
    flex-shrink: 0;
}
footer { 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    background: var(--second-bg-color);
    color:var(--second-text-color);
    display: flex;
   
}

aside {
    background: rgb(248, 248, 248);
    width: 250px;
}
.catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}
.card {
    width: 23%;
    border: 1px solid var(--text-color);
    border-radius: 23px;
    padding-bottom: 15px;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.card h3 {
    color: rgb(0, 0, 0);
    margin: 10px 15px;
}
.card-price {
    margin: 0 15px;
}
.card button {
    background: mediumturquoise;
    color: azure;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    margin: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
}
.card button:hover,
.card button:focus {
    box-shadow: 0 0 5px rgb(107, 105, 105);

}
.content {
    padding: 20px;
}
.drop-menu {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
}
.drop-menu svg {
    fill: var(--text-color);
    width: 44px;
    height: 44px;
}

@media(max-width:992px){
    .card{
        width: 30%;
    }
}
@media(max-width:768px){
    aside {
        display: none;
    }
}
@media(max-width:600px){
    .card {
        width: 46%;
    }
}
@media(max-width:576px){
    .drop-menu{
        display: block;
    }
    .main-menu{
        display: none;
    }
}
@media(max-width:500px){
    .card img {
        height: 120px;
    }
}